$text: 'Roboto' ;
$color: #091133 ;

.list-menu {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #929ECC;
}
.text-size {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}