* {margin: 2em; font-family: Comic Sans MS; text-decoration: none;}




.comon a {
    color: green;
}
p img {
    position: relative;
    float: right;
}
.text {
    position: relative;
    top: 180px;
    float: right;
}

.add {
    display: flex;
}
a:hover {
    color: blue;
}