* {margin: 2em; font-family: Comic Sans MS; text-decoration: none;}




.comon a {
    color: green;
}
p img {
    margin-top: 200px;
    float: right;
}
.text {
    padding-top: 390px;
    text-align: end;
}