* {font-family: Arial, Helvetica, sans-serif;}

body {
    background: #2c2c2c;
}

/*header*/
#introdaction {
    text-align: center;
}

/* generaly table*/
.contact {
    border: solid 1px #484848;
    height: 50px;
    width: 680px;
    margin: 40px;
    border-spacing: 0;
    line-height: 40px;
    color: #cfcfcf;
    border-radius: 5px;    
}
td, th {
    border-bottom: solid 1px #484848;
    padding-left: 15px;
}
.firstRow {
    text-align: left;
}
.firstCol {
    width: 300px;
}
    /*text style*/
    .textPoint:hover {
    color: rgb(72, 74, 223);
    cursor: pointer;
    }

    .timeLine {
    color: #747070;
    }

    .textPoint {
      text-align: right;
      padding-right: 15px;
      font-weight: 900;
    }

    /* image + icon*/
    img {
      position: relative;
      padding-right: 10px;
      width: 18px;
      height: 16px;
    }
    .iconLink {
    display: inline;
    position: relative;
    top: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 5px 5px;
    border-bottom: none;
    border-color: #cfcfcf transparent;
    cursor: pointer;
    }
  
/* checkbox + label*/
  input[type="checkbox"] {
    display: none;
  }

  label {
      cursor: pointer;
  }

  label::before {
      content: ' ';
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: seashell;
      vertical-align: middle;
      margin-right: 10px;
      transition: 0.2s;
      border-radius: 3px;
  }

input[type="checkbox"]:checked + label::before {
    background-image: url(tick.png);
    background-color: #199ffd;
    background-size: 100%;
}

input[id="fileCheck"]:checked + label::before {
    background-image: url(signs.png);
    background-color: #199ffd;
    background-size: 100%;
}

/*button search*/
.buttonSearch {
    display: inline-block;
}
input[type="search"]{    
    background-color: #444444;
    background-image: url('search.png');
    background-size: 15px;
    background-position: left 5% center;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 25px;
    border: 1px solid #868686;
    border-radius: 5px;
    outline: none;
    color: #bebebe;
}

input[type="search"]::placeholder{
    color: #6b6b6b;
}

