.block2 {
    background-color: rgb(174, 230, 174);  
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

.container {  
    width: 200px;
    height: 10px;
    background: white;
}
.white {
    transition-timing-function: ease;
    transition-duration: 2s;
}
.red, .green {
    margin-top: 50px;
    transition-duration: 2s;
    transition-timing-function: ease;
}
.block2:hover .white {
    opacity: 0;
}
.block2:hover .red{
    box-shadow: 0 0 20px rgba(102, 8, 8, 0.938); 
    transform: /*translate(0, 100px)*/ rotate(45deg);   
}
.block2:hover .green{
    box-shadow: 0 0 20px rgba(0, 128, 0, 0.959);
    transform: /*translate(0, 40px)*/ translateY(-60px) rotate(-45deg); 
}   
.white:before {
    position: relative;
     display:block;
     content:" ";
     width:50px;
     height:10px;
     background-color:#6F6F6F;
}
.red:after {
    position: relative;
    left: 150px;
     display:block;
     content:" ";
     width:50px;
     height:10px;
     background-color:#6F6F6F;
}
.green:before {
    position: relative;
     display: block;
     content:" ";
     width:50px;
     height:10px;
     background-color:#6F6F6F;
}