.block1 {
    background-color: rgb(230, 195, 195);  
    width: 500px;
    height: 300px;
   }
   
   ul {
     width:300px;
     margin:0 auto;
   }
   
   li {
     position:relative;
     display:block;
     float:left;
     list-style-type: none;
     width: 50px;
     height:50px;
     margin-top:80px;
     border: none;
     border-radius: 50%;
     background-color:rgb(168, 241, 161);
     box-shadow: inset -15px -15px 30px rgba(107, 96, 96, 0.5);
   }
   
   
   
   li::after {
     position:absolute;
     display:block;
     content:" ";
     width:96%;
     margin: 0 2%;
     height:10px;
     left:0px;
     bottom:-20px;
     border-radius: 50%;
     opacity: 0.2;
    
     background: radial-gradient(ellipse at center,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
   }
   
   li:first-child, li:last-child {
     transform-origin: 21px -80px;
   }
   
   li:first-child {
     animation: sharikleft 1.2s ease infinite;
   }
   
   li:first-child::after {
     animation: shadowleft 1.2s ease infinite;
   }
   
   li:last-child {
     animation: sharikright 1.2s ease infinite 1.2s;
   }
   
   li:last-child::after {
     animation: shadowright 1.2s ease infinite 1.2s;
   }
   
   @keyframes sharikleft {
       0%   { transform: rotate(0deg); }
      25%   { transform: rotate(12deg); }
      50% { transform: rotate(0deg); }
     100% { transform: rotate(0deg); }
   }
   
  
   @keyframes sharikright {
       0%   { transform: rotate(0deg); }
      50%   { transform: rotate(0deg); }
      75%   { transform: rotate(-12deg); }
     100% { transform: rotate(0deg); }
   }
   

   
   @keyframes shadowleft {
             0% {transform: rotate(0deg) scale(1) translate(0,0);}
            25% {transform: rotate(-12deg) scale(1.2) translate(-5px,5px)}
            50% {transform: rotate(0deg) scale(1) translate(0,0);}
           100% {transform: rotate(0deg) scale(1) translate(0,0);}
   }
   
 
   @keyframes shadowright {
         0% {transform: rotate(0deg) scale(1) translate(0,0);}
        50% {transform: rotate(0deg) scale(1) translate(0,0);}
        75% {transform: rotate(12deg) scale(1.2) translate(-5px,5px);}
       100% {transform: rotate(0deg) scale(1) translate(0,0);}
   }