* {text-decoration: none;}
body {
    
    margin: 0em; 
    width: auto;
    height: auto;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
}
.add {
    display: block;
    text-align: center;
}
header {
    display: flex;
    text-align: center;
    width: auto;
    height: 500px;
    background: #ED4C5C;
}
.header-block_item1 {
    display: block;
    text-align: center;
    
    width: 445px;
    padding-left: 165px;
    padding-top: 122px;
}
.header-moto {
    height: 107px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #ffffff;
    text-align: start;
}

.header-context {
    height: 64px;

    padding-top: 24px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: justify;

    color: #FFFFFF;
}
.header-link {
    padding-top: 44px;
    text-align: start;

    display: flex;
    align-items: center;
}
.link-play {
    width: 32px;
    height: 32px;
}
.link-appstore {
    width: 32px;
    height: 32px;

    padding-left: 28px;
}
.link-windows {
    width: 24px;
    height: 24px;  
    
    padding-left: 28px;
}

.header-block_item2 {
    position: absolute;   
    left: 691px;
    top: 94px;

    width: 533px;
    height: 311px;
 /*   margin-left: 81px;
    margin-top: 94px;*/
    
    text-align: center;
}
.slide1 {
    
    position: relative;
    top: 22px;
    opacity: 0.5;
    border-radius: 15px;
    text-align: start;
    z-index: 1;
}
.slide2 {
    position: relative;
    top: -248px;    
    opacity: 0.5;
    border-radius: 15px;
    text-align: end;    
    z-index: 2;
}
.slide3 {    
    position: relative;
    top: -540px;
    border-radius: 15px;
    text-align: center;
    z-index: 3;
}

/*central point*/

main {
    width: auto;
    height: 500px;
    background-color: #ffffff ;

    display: flex;
    align-content: center;
}

.info-block_item1 {
    width: 445px;
    height: 160px;

    padding-top: 117px;
    padding-left: 176px;

    font-style: normal;
}
.info-block_contact {
    width: 445px;
    height: 107px;

    text-align: left;

    font-weight: 600;
    font-size: 36px;
    line-height: 43px;

    color: #000000;        
}
.info-block_text {
    width: 434px;
    height: 64px;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    text-align: justify;
    color: #000000;
}
.info-block_item2 {
    width: 540px;
    height: 305px;

    margin-left: 125px;
    margin-top: 117px;    
}
.info-form-block_item1 {
    width: 540px;
    height: 60px;    
    display: block;
}

.info-form_FirstName {
    width: 250px;
    height: 60px;

    margin-right: 23px;

    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);

    padding-left: 31px;
}
.info-form_LastName {
    width: 255px;
    height: 60px;
    
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
    
    padding-left: 31px;
}
.info-form-block_item2 {
    width: 540px;
    height: 60px;
    margin-top: 24px;

    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;

    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);

    padding-left: 31px;
}
.info-form-block_item3 {
    width: 540px;
    height: 60px;
    margin-top: 24px;

    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);

    padding-left: 31px;
}

.info-form-block_item4 {
    width: 160px;
    height: 50px;

    margin-top: 27px;

    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;

    display: flex;      
}

#text {
    
    padding-left: 30px;

    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;   
}

footer {
    width: auto;
    height: 435px;

    background: #FAFAFA;
    margin-top: 45px;
}

.footer-block_item1 {
    display: flex;
}

.adress-block {
    width: 254px;
    display: block;

    margin-left: 166px;
}
.firstCol_item1 {
    display: flex;  
    width: 65px;
    height: 22px;

    
    padding-top: 85px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}
.firstCol_item2 {
    display: flex;
    width: 254px;
    height: 54px;
    
    padding-top: 33px;
    
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #101010;
}
.autorSign {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #101010;

    padding-top: 141px;
}
.service-block {
    width: 254px;  
    
}
.secondCol_item1 {
    display: flex;
    width: 67px;
    height: 22px;

    margin-top: 85px;
    margin-left: 30px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;

}
.secondCol_item2 {
    display: flex;
    flex-direction: column;
    width: 254px;
    height: 114px;
    margin-left: 30px;
    padding-top: 28px;
    line-height: 19px;
}
.mainMenu {    
    text-align: left;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: capitalize;  

    color: #000000;
}
.touch-block {
    width: 122px;
}
.thirdCol_item1 {
    display: flex;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;
    padding-top: 85px;
}
.thirdCol_item2 {
    display: flex;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #101010;
    padding-top: 33px;
}
.thirdCol_item3 {
    display: flex;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #121212;
    padding-top: 11px;
}


.thirdCol_item4 {
    display: flex;
}
.fbIcon {
    width: 14px;
    height: 14px;

    padding-top: 20px;
}
.inIcon {
    width: 14px;
    height: 14px;

    padding-top: 20px;
    padding-left: 15px;
}
.twIcon {
    width: 14px;
    height: 14px;

    padding-top: 20px;
    padding-left: 13px;
}

.support-block {   
    width: 216px;;
}
.lastCol_item1 {
    
    display: flex;
    width: 150px;
    height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #101010;
    margin-top: 85px;
    margin-left: 166px;

}
.lastCol_item2 {
    display: flex;
    padding-top: 33px;
    padding-left: 172px;
}
.payLink {
    width: 216px;
    height: 31px;
}

.cursorIcon {
    width: 14px;
    height: 14px;

    position: relative;
    top: -37px;
    left: 230px;
}